$red: #FF0000;
$green: #00FF00;
$blue: #0000FF;
$yellow: #FFFF00;
$dark-red: #440000;
$deep-dark-red: #330000;

$font: 'Fira Sans Extra Condensed', sans-serif;
$font-color: #333;
$font-size: 21px;

$control-panel-width: 30%;
